body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.calculator {
  width: 260px;
  background: #111;
  padding: 15px;
  border-radius: 10px;
}

#display {
  height: 60px;
  background: black;
  color: white;
  font-size: 32px;
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #ccc;
}

.zero {
  grid-column: span 2;
}

.equals {
  grid-row: span 2;
  background: #ff9500;
  color: white;
}
